<div class="time-picker-container">

  <input
    #timePickerInput="ngModel"
    type="text"
    id="time-input"
    name="time-input"
    class="form-style"
    list="timeList"
    [maxlength]="timeInputMaxLength(timeInput)"
    [pattern]="timePattern"
    [(ngModel)]="timeInput"
    (ngModelChange)="timeInputChanged($event)"
    (keypress)="timeInputKeyPress($event, timeInput)"
  >
  <datalist id="timeList">
    <option *ngFor="let time of getTimes()" [ngValue]="time">{{ time.time }}
  </datalist>
  <div *ngIf="timePickerInput.errors && timePickerInput.errors?.pattern && showDefaultErrors" class="form-message">
    <span>Please enter a valid {{showMilitaryTime ? "24 hour" : "AM/PM"}} time.</span>
  </div>

</div>